* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
.orange_circle {
  position: absolute;
  z-index: -1;
  width: 50rem;
  background-color: #fff;
  top: -5%;
  left: -10%;
  border: 7rem solid #fca424;
  height: 45rem;
  border-radius: 50%;
}

.black_square {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  transform: rotate(45deg);
  border: 2rem solid #817b7b;
  top: 50%;
  left: 80%;
  height: 30rem;
  width: 26rem;
}
.blue_circle {
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border: 1rem solid #0dd1eb;
  top: 0%;
  left: 60%;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

html {
  font-size: 62.5%;
  /* 1 Rem = 16px */
}
.main_section {
  height: 120rem;
}
.main_header_section {
  margin: 4rem 0 4rem 0;
  display: flex;

  justify-content: space-between;
}
.Intro_section {
  display: flex;
  margin: 0 0 0 1rem;
}
.main_avatar_img {
  height: 18rem;
  width: 16rem;
  margin: 2rem 0 0 1.3rem;
  position: absolute;
  transition: all 0.2s ease-in;
  border-radius: 5%;
}
.main_avatar_img:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

.camera_icon:hover {
  transform: translateX(4px);
  cursor: pointer;
}
.camera_icon_section {
  flex-direction: column;
}
.logo_class {
  width: 10rem;
  transition: all 0.2s ease-in;
  height: 4rem;
  margin-left: 3rem;
}
.logo_class:hover {
  transform: translateY(-4px);
  cursor: pointer;
}
.main_avatar_small_img {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 2rem 0 0;
  transition: all 0.2s ease-in;
}
.main_avatar_small_img:hover {
  transform: translateX(4px);
  cursor: pointer;
}
.notification_icon {
  height: 2rem;
  width: 2rem;
  transition: all 0.2s ease-in;
}
.notification_icon:hover {
  transform: translateX(2px);
  cursor: pointer;
}
.nav_elements {
  display: flex;
  gap: 2rem;
  margin: 1rem 0 0 0;
}
.need_help_btn {
  background: rgba(80, 75, 75, 0.144);
  font-family: sans-serif;
  border-radius: 0.3rem;
  padding: 0.2rem 1.5rem;
  color: black;
  border: none;
  height: 3rem;
  color: white;
  font-size: 1rem;
  margin: 0 0 0 0;
}
.need_help_btn:hover {
  background-color: #0dd1eb;
  color: white;
  cursor: pointer;
}
.second_main_section {
  width: 1200px;
  height: 107rem;
  margin: 5rem 0 5rem 8rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.header_background {
  background-image: linear-gradient(
      rgba(31, 27, 27, 0.726),
      rgba(0, 0, 0, 0.432)
    ),
    url(/images/bg.jpg);
  background-size: cover;
}
.goodmorning_text {
  font-size: 2rem;
  color: #fff;
  font-family: "Rubik";
}
.yellow_dot {
  position: absolute;
  top: 10.4rem;
  left: 120.4rem;
  width: 6px;
  height: 6px;
  background-color: #fca424;
  border-radius: 50%;
  border: 2px solid #fca424;
}

.avatar_asking_details {
  font-size: 1.3rem;
  color: #cdcdcdc9;
  line-height: 2rem;
}
.avatar_details {
  color: white;
  font-size: 1.3rem;
}
.camera_icon {
  height: 2.4rem;
  width: 3rem;
  background-color: rgba(88, 86, 86, 0.418);
  margin: 0 0 1rem 65rem;
  color: white;
  transition: all 0.2s ease-in;
}
.Greetings {
  margin: 0 0 0 20rem;
}
.camera_icon_section {
  flex-direction: column;
}
.percentage_and_camera {
  display: flex;
  flex-direction: column;
}
.progress {
  position: absolute;
  background-color: #fca424;
  height: 7rem;
  background-color: transparent;
  width: 7rem;
  border-radius: 50%;
  top: 18.29rem;
  transform: rotate(45deg);
  left: 99.5rem;
  border: 0.4rem solid #fca424;
  border-top-color: rgb(167, 151, 151);
}
.percentage_digit {
  font-size: 1.5rem;
  color: white;
  font-family: sans-serif;
  margin: 1.3rem 1rem 1rem 1.2rem;
  background-color: rgba(127, 131, 134, 0.815);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.percentage_section {
  display: flex;
  background-color: rgba(88, 86, 86, 0.418);
  margin: 0 2rem 2rem 44rem;
  padding: 1rem 1rem;
}
.percentage_img {
  width: 10rem;
  height: 10rem;
}
.Completetion_Section {
  line-height: 1.5rem;
  padding: 1rem 1.5rem;
}
.profile_completetion_txt {
  color: #fff;
  font-size: 1.5rem;
}
.complete_profile_request {
  color: #cdcdcd;
  font-size: 1.2rem;
  margin: 0.5rem 0 0 0;
}
.complete_button {
  background-color: #fca424;
  border: none;
  margin: 1rem 0 0 0;
  padding: 1rem;
  color: white;
}
.complete_button:hover {
  background-color: #af6d09;
  color: #fff;
  cursor: pointer;
}

.last_image_txt {
  color: rgb(245, 242, 242);
  font-size: 1.4rem;
  margin-left: -1.6rem;
  margin-top: 0.7rem;
  font-family: sans-serif;
  font-weight: 600;
}
.user_record {
  background-color: white;
  height: 77rem;
  display: grid;
  width: 100%;
  grid-template-rows: 8rem 1fr;
  grid-template-columns: 30rem 1fr;
}
.record_list {
  display: flex;
  padding: 1rem 1.5rem;
  background-color: rgba(216, 214, 214, 0.233);
  grid-column: 2/-1;
  justify-content: space-between;
  align-items: center;
}
.about_us {
  grid-row: 1/-1;
  grid-column: 1/2;
  background-color: #fffffe;
}
.view {
  background-color: rgba(216, 214, 214, 0.233);
  grid-column: 2/3;
  grid-row: 2/3;
}
.cards_section {
  display: flex;
}
.navigation_section {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}
.menu_heading {
  font-size: 1.3rem;
  font-family: "Rubik", sans-serif;
  border: none;
  color: #cdcdcd;
  overflow-y: hidden;
  transition: all 0.2s ease-in;
  overflow-y: scroll;
  font-weight: 500;
  padding: 1.5rem;
  background-color: transparent;
}
.menu_heading::-webkit-scrollbar {
  display: none;
}
.menu_heading:hover {
  border-bottom: 2px solid #fca424;
  cursor: pointer;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: #050505;
  font-family: "Rubik";
  cursor: pointer;
}
.claim_btn {
  background-color: #0dd39d;
  color: white;
  border: none;
  padding: 0.4rem 0.4rem;
  margin: 0 0 0 0.2rem;
  font-size: 1.1rem;
  font-family: "Rubik";
}
.claim_icon {
  width: 2rem;
  height: 1.3rem;
}
.claim_btn:hover {
  background-color: #31a082;
  color: #fff;
  cursor: pointer;
}
.claim_btn_flex {
  display: flex;
}
.main_menu_heading {
  border-bottom: 2px solid #fca424;
  padding: 1.5rem;
  font-size: 1.3rem;
  font-family: "Rubik";
  cursor: pointer;
  font-weight: 500;
}
.home_icon {
  margin: 0.5rem 1rem 0 0;
}
.about_my_family,
.about_me_section {
  margin: 4rem 2rem 0 2rem;
  font-size: 1.5rem;
  font-family: "Rubik";
  border-bottom: 2px solid #757474c4;
  padding: 0 0 1rem 0;
}

.three_dot_icon {
  margin: 0 0 0 9rem;
}
.three_dot_icon_2nd {
  margin: 0 0 0 15rem;
}
.line_before_faces {
  margin: 3rem 0 0 2rem;
  font-size: 1.3rem;
  color: #cdcdcd;
  font-weight: 500;
  font-family: "Rubik";
}
.user_face {
  width: 4rem;
  height: 4rem;
  border-radius: 25rem;
}
.border_yellow {
  border: none;
  position: absolute;
  height: 1px;
  width: 88.7rem;
  background-color: #88847b49;
  margin: 5.8rem 0 0 -1.4rem;
}
.faces_row {
  display: flex;
  gap: 2rem;
  margin: 2rem 0 0 3rem;
}
.user_details_about_me_section {
  margin: 1rem 0 0 2rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #888686;
  font-family: "Rubik";
}
.user_answer_about_me_section {
  margin: 0.5rem 0 0 2rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #050505;
  font-family: "Rubik";
}
.first {
  margin: 2.5rem 0 0 2rem;
  /* Used Class Hierarchy Concept( of class user_details_about_me_section first )*/
}
.gray_vertical_line {
  height: 46rem;
  position: absolute;
  width: 0.5px;
  margin: 2.5rem 0 0 2.4rem;
  color: #837d7594;
}

.card {
  display: flex;
  width: 26rem;
  margin: 2rem 2rem 1rem 2rem;
  background-color: #fff;
  height: 10rem;
  transition: all 0.2s ease-in;
}
.card:hover {
  box-shadow: 0 0 8px black;
  transform: translateY(-4px);
  cursor: pointer;
}
.many_faces {
  height: 3rem;
  margin-right: -1rem;
  border-radius: 50%;
  width: 3rem;
  border: 2px solid white;
}
.many_faces:last-child {
  margin: 0;
}
.big_numbers {
  font-size: 6rem;
  font-family: "dosis";
  margin: 1rem 3rem 0 2rem;
  border-right: 2px solid #a3a0a0;
  padding-right: 1rem;
}
.image_section {
  display: flex;
  margin: 1.5rem 0 0 0;
}
.card_headings {
  font-size: 1.5rem;
  color: #cdcdcd;
  font-family: "Rubik";
  margin: 2rem 0 0 0;
  font-weight: 400;
}
.card_name_and_image {
  margin-left: -1.5rem;
}
.avatar_section {
  display: grid;
  height: 53rem;
  margin: 1rem;
  grid-template-columns: 70% 1fr;
}

.avatar_info_wrapper {
  margin: 0 0 0 2rem;
}
.yellow_border {
  border: none;
  position: absolute;
  height: 1px;
  width: 88.7rem;
  background-color: #88847b36;
  margin: 5.8rem 0 0 -1.4rem;
}
.avatar_full_name {
  font-size: 1.7rem;
  margin: 0 0 1.5rem 0;
  font-weight: 500;
  font-family: "Rubik";
  color: rgb(0, 0, 0);

  font-style: normal;
}
.avatar_layout {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  background-color: white;
  margin: 1rem;
  transition: all 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y: scroll;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.avatar_layout::-webkit-scrollbar {
  display: none;
}

.avatar_layout:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.avatar_detail_row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 1rem 1rem 0;
}

.icon_card,
.icon_calendar,
.icon_location,
.icon_wallet {
  width: 2rem;
  height: 2rem;
  color: #837d75b6;
}
.icon_wallet {
  color: white;
}

.avatar_image {
  width: 14rem;
  height: 14rem;
  border-radius: 0.5rem;
}

.avatar_detail_title {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: black;
}

.payment_button {
  background-color: #fca424;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0 0 20rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.payment_button:hover {
  background-color: #af6d09;
  color: white;
  cursor: pointer;
}
.accent_border {
  border-right: 3px solid #fca424;
  position: absolute;
  height: 2.3rem;
  width: 1rem;
  z-index: 9999;
  top: 115%;
  left: 83%;
}
.avatar_detail_date,
.avatar_detail_address {
  color: #837d75;
  font-weight: 400;
}

.activity_section {
  background-color: white;
  height: 50rem;
  margin-top: 1rem;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.activity_header {
  margin: 2.5rem 0 0 2rem;
}

.activity_heading {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #444040c9;
  margin: 0.5rem 2.5rem 1.5rem 0;
  padding: 0 0 0.5rem 0;
  scrollbar-width: none;
  border-bottom: 1px solid #837d75b6;
  overflow-y: scroll;
}

.activity_header::-webkit-scrollbar {
  display: none;
}

.activity_section::-webkit-scrollbar {
  display: none;
}

.dot_blue {
  width: 10px;
  height: 10px;
  z-index: 9999;
  background-color: rgba(0, 25, 245, 0.986);
  border-radius: 50%;
  display: inline-block;
  margin: 0 1rem 0 0;
}

.line_connector {
  height: 42rem;
  position: absolute;
  width: 0.2rem;
  margin: 2.5rem 0 0 2.4rem;
  color: #cdcd;
}

.dot_container {
  display: flex;
  align-items: center;
}

.activity_item {
  margin: 2rem 0 0 2rem;
}

.item_title {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: black;
  transition: all 0.3s ease-in;
}

.item_title:hover {
  color: #fca424;
  cursor: pointer;
}

.item_description {
  margin: 0.8rem 2.5rem 0rem 2rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #837d75cb;
  transform: 0;
}

.item_description:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.555);
  transition: all 0.3s ease-in;
}

.time {
  color: rgba(128, 114, 114, 0.445);
}

.dot_orange {
  background-color: #fca424;
  z-index: 9999;
}

.dot_green {
  background-color: #23a829;
  z-index: 9999;
}

.scroll_container::-webkit-scrollbar {
  width: 1rem;
  height: 1px;
}

.scroll_container::-webkit-scrollbar-track {
  background: white;
  margin-top: 10px;
  margin-bottom: 2rem;
  border-radius: 0.4rem;
}

.scroll_container::-webkit-scrollbar-thumb {
  background-color: #fca424;
  border-radius: 1rem;
  border: 0.3rem solid white;
  border-bottom: 25rem solid rgb(255, 255, 255);
  border-radius: 1rem;
}
